.box1 {
    margin-top: 100px;
    overflow: auto;
    border: 1px solid red;
    height: 50px;
}

.box2 {
    height: 100px;
    width: 100px;
    background-color: purple;
    position: fixed;
    top: 100px;
    left: 100px;
}
